.custom-container {
    margin-left: 2rem;
}
  
  .custom-button {
    background-color: #ffaf49; /* Jira blue */
    color: white;
    /* font-weight: bold; */
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  
  .custom-button:hover {
    background-color: #ff9e22; /* Darker blue for hover effect */
    text-decoration: none;
  }